.tab {
    overflow: hidden;
    width: 70%;
    border: none;
    background-color: #f1f1f1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.tab button {
    width: 33%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ccc;
    color: grey;
    padding: 14px 16px;
    font-size: 25px;
}
.tab button:nth-child(2) {
    border-left: 2px solid rgb(110, 110, 110);
    border-right: 2px solid rgb(110, 110, 110);
}
.tab button.active {
    background-color: white;
}
.tabContent {
    background-color: white;
    border: none;
    width: 99%;
}
.tabContent div {
    width: 33%;
    display: inline-block;
    background-color: lightcoral;
    /*text-align: center;*/
}
.tabContent img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    padding: 7%;
}
.listTab1 {
    font-size: 25px;  
    text-align: left; 
}
.listTab2 {
    font-size: 25px;
    text-align: left;
} 